@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Audiowide&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Quicksand;
  font-weight: 550;
  overflow-x: hidden;
  background-color: #f7f7ff;
  color: #1b1b1b;
}

/* Layout */
.layout {
  min-height: 100vh;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.content {
  width: 100%;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Global heading style (LIGHT touch only, NOT aggressive) */
h1 {
  letter-spacing: 0.5px;
}

/* DARK MODE ROOT */
.dark {
  background-color: #0f0f1a;
  color: #f5f5f5;
}


.dark p {
  color: #c9d1ff;
}